<h2 mat-dialog-title>Adding Image to Favorite list</h2>
<mat-dialog-content>
  <div *ngIf="(lists$ | async).length; then listWith else emptyList"></div>
  <ng-template #listWith>
    <div *ngFor="let list of lists$ | async">
      <div class="list-body mb-3">
        <h5 class="list-title">List name: {{list.title}}</h5>
        <p class="list-text">List description: {{list.description}}</p>
        <div class="info-block align-items-center justify-content-center flex-column" (click)="addToListImage(list, data)">
          <h3>Click to add image to this list</h3>
        </div>
      </div>
    </div>
    <a [routerLink]="'/favorites'" mat-dialog-close>If you wanna create other lists</a>
  </ng-template>
  <ng-template #emptyList>
    <p>You lists empty, do you want create list ?</p>
    <button class="btn btn-success" (click)="createToggle =  true" *ngIf="createToggle === false">Create</button>
    <ng-container *ngIf="createToggle">
      <app-list-add></app-list-add>
    </ng-container>
  </ng-template>
</mat-dialog-content>
