<div class="container">
  <h1 class="pt-5 mb-3">Favorite Images</h1>
  <div class="row">
    <div class="col-md-6 col-12">
      <h2>Lists what you have</h2>
      <app-list></app-list>
    </div>
    <div class="col-md-6 col-12"><h2>If you wanna add more lists. fill free to add them</h2>
      <app-list-add></app-list-add>
    </div>
  </div>


  <div class="row row-cols-3">
<!--    <div class="col mb-4 flex-grow-1" *ngFor="let image of favArr;  trackBy: trackByFunc">-->
<!--      <app-image-card [image]="image">-->
<!--        <button class="btn btn-primary" (click)="Download(image)">Download</button>-->
<!--      </app-image-card>-->
<!--    </div>-->
  </div>
</div>
