@import 'src/styles';

.list-body {
  position: relative;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  &:hover {
    .info-block {
      display: flex;
    }
  }
}

.edit {
  position: absolute;
  top: 15px;
  right: 15px;
}

@include info-block();
