<div *ngFor="let list of lists$ | async">
  <div class="list-body">
    <button class="edit btn btn-secondary" (click)="editToggle = true" *ngIf="editToggle === false">Edit</button>
    <div *ngIf="editToggle; then editTrue else editFalse"></div>
    <ng-template #editTrue>
      <app-list-edit [list]="list" (editComplete)="editToggle = false"></app-list-edit>
    </ng-template>
    <ng-template #editFalse>
      <div class="mb-2">
        <h2 class="list-title">List name: {{list.title}}</h2>
        <p class="list-text">List description: {{list.description}}</p>
      </div>
      <div class="row row-cols-md-2 row-cols-1">
        <div class="col mb-4 flex-grow-1" *ngFor="let image of list.images;  trackBy: trackByFunc">
          <app-image-card [image]="image">
            <button class="btn btn-primary" (click)="saveFile(image)">Save image</button>
          </app-image-card>
        </div>
      </div>
    </ng-template>
  </div>
</div>
